@import "tailwindcss";

body {
  background: #101216;
  font-family: "Inter", sans-serif;
}

.pt-sans {
  font-family: var(--font-pt-sans-caption);
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
